# === OS a IDE ===
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# === Backend (Java / Maven) ===
target/
*.jar
*.war
!maven-wrapper.jar
user-settings.json
logs/
home/
*.log
*.gz

# === Frontend (React / Node / Vite) ===
node_modules/
dist/
dist-ssr/
.env
.env.local
.env.*.local
npm-debug.log*